# Copiá este archivo como config.env o ejecutá ./siri-remote setup.
# Se interpreta como datos KEY=VALUE; no es código shell.
REMOTE_IDENTITY=
ADAPTER=hci0

BUTTON_DEBOUNCE_MS=50
LONG_PRESS_MS=300
REPEAT_ENABLED=true
REPEAT_DELAY_MS=450
REPEAT_INTERVAL_MS=120

TOUCH_MODE=continuous
TOUCH_STEP=18
TOUCH_INTERVAL_MS=90
TOUCH_SETTLE_MS=50
TOUCH_AXIS_LOCK=true
TOUCH_REVERSE_MARGIN=4
TOUCH_GAIN_X=1.0
TOUCH_GAIN_Y=1.0
TOUCH_INVERT_Y=false

KEY_UP=KEY_UP
KEY_DOWN=KEY_DOWN
KEY_LEFT=KEY_LEFT
KEY_RIGHT=KEY_RIGHT
KEY_CENTER=KEY_ENTER
KEY_CENTER_LONG=KEY_ENTER
KEY_BACK=KEY_ESC
KEY_TV=KEY_HOME
KEY_TV_LONG=KEY_LEFTMETA+KEY_D
KEY_SIRI=KEY_F12
KEY_PLAYPAUSE=KEY_PLAYPAUSE
KEY_VOLUMEUP=KEY_VOLUMEUP
KEY_VOLUMEDOWN=KEY_VOLUMEDOWN
KEY_MUTE=KEY_MUTE
